.container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 3px;
  width: 350px;
  max-width: 90%;
  height: 35px;
  margin: 0;
  color: white;
  font-size: 0.9rem;
  font-weight: 200;
  cursor: pointer;
}

.inner-container {
  display: flex;
  flex-direction: row;
}

.icon {
  vertical-align: middle;
  width: 25px;
}

.search-box {
  padding-left: 80px;
}

@media (min-width: 700px) {
  .container {
    width: 250px;
  }
}
