<nav class="nav-bar">

    <div class="logo-wrapper">
        <img src="../../assets/icons/accuweather.svg" alt="AccuWeather"/>
    </div>

    <div class="navbar-links">
        <ul class="rowbar">
            <li class="list-item"><a href="#">Radar e Mapas</a></li>
            <li class="list-item"><a href="#">Vídeo</a></li>
            <li class="list-item"><a href="#">Mau Tempo</a></li>
            <li class="list-item"><a href="#">Previsões Personalizadas</a></li>
            <li class="list-item"><a href="#">Definições</a></li>
        </ul>
    </div>

    <button class="toggleBtn" (click)="showMenu()">
        <i class="fas fa-bars"></i>
    </button>
</nav>